In [15]:
import pandas as pd
import csv

In [16]:
train = pd.read_csv('train.csv', sep=',')
valid = pd.read_csv('dev.csv', sep=',')
test = pd.read_csv('test.csv', sep=',')
# result = pd.read_csv('result.tsv', sep=',')
pd.set_option('max_colwidth',300)
train[:10]
# left_aligned_df = train.style.set_properties(**{'text-align': 'left'})

# display(left_aligned_df[:10])

,tweet_id,text,label
0,1280721501034098688,@Turtainum @disitinerant @Benjaminlfranks @terrycrews Police patrols go where there's crime. My neighborhood falls in the largest geographical zone for my police dept &amp; we have the least officers...because there aren't shootings here nearly every night like the south zone or domestic violenc...,0
1,1343658638842490880,I had 3 men try to bully me into giving them services today... at a domestic violence legal clinic ðŸ™ƒ,0
2,1246142231548813317,Protect the children\n\nParents should protect the children\n\nLove the children sincerely\n\nViolence is not good\n\nLove my child from my heart\n\nDomestic violence stop it\n\nLove children from love,0
3,1291062414528544774,"@yoongizell Oh yeah! As a survivor of domestic violence it was not like that for me you know? It was a cathartic experience. Believe it or not, I was sent death threats for liking Yoonbum and Sangwoo together! I wrote fanfiction about it. If it makes you happier to not touch it, that's fine!",0
4,1268650245967282178,"@q_4_liberty @Project_Veritas i can see that, and i do agree there needs to be something in place to help the vulnerable. however, on average, cops have been listed as some of the greatest threats to the most vulnerable people in society. cops also have a 30% higher domestic violence rates than...",0
5,1273919606319529990,"@PArfectSHot @yogioabs where do I see inequality? okay nice one.\ndespite of there being so many laws against sexual harassment, rape and domestic violence, women are still raped ever 20 mins. 550,000 girls went missing in 2018 due to female foeticide. aur bolun?",0
6,1252024862299885568,"@heraldscotland You know being a victim of mny types most probably all abuse throughout my childhood years sexual abuse aged about 9 raped at 14then phsyclogically, mentally and emotionally by my ex partner of 15 years even now i struggle to put a normal convo 2gethr without sounding crazy,",1
7,1339618398842531842,"It's also an eerily similar discourse to when you trt to persuade a person whose partner is violent towards them that they should leave them. ""But he's all I got, and he loves me, how can I leave?!? YOU want to harm our love because you're jealous!!! etc""",0
8,1336940059921100800,"@GovSamuelOrtom No Point talking about Domestic violence with you, your decision clearly explain ed to the world y also beat y wife. I just pray for you that your daughter or sister, cousin are kill by there husband. Continue with you evil act.",0
9,1344817873332674560,This has been the best and the worst year. At the beginning I was in a abusive relationship with a dead end job. I lost my job trying to let the Know our building had covid because 4 ppl died In two weeks. I been working since 14 so I decided to just live my life.,0

In [17]:
train.label.value_counts()

0    4042
1     481
Name: label, dtype: int64

In [19]:
valid.label.value_counts()

0    479
1     55
Name: label, dtype: int64

In [24]:
len(train.text)+len(valid.text)

5057

534

In [21]:
len(test.text)

1291

In [8]:
# ids = []
# texts = []
# labels = []

# with open('SMM4H-2022-Task4-Training.tsv','r') as f:
#     for item in f.readlines():
#         item = item.strip('\n')
#         item_list = item.split('\t')
#         assert len(item_list)==3
#         ids.append(item_list[0])
#         texts.append(item_list[1])
#         labels.append(item_list[2])
        
# train_tweet = pd.DataFrame({'tweet_id':ids[1:],
#                         'text':texts[1:],
#                         'label':labels[1:]
#                        })
# train_tweet.to_csv('SMM4H-2022-Task4-Training.tsv',sep='\t')

In [9]:
# ids = []
# texts = []
# labels = []

# with open('SMM4H-2022-Task4-Validation.tsv','r') as f:
#     for item in f.readlines():
#         item = item.strip('\n')
#         item_list = item.split('\t')
#         assert len(item_list)==3
#         ids.append(item_list[0])
#         texts.append(item_list[1])
#         labels.append(item_list[2])
        
# valid_tweet = pd.DataFrame({'tweet_id':ids[1:],
#                         'text':texts[1:],
#                         'label':labels[1:]
#                        })
# valid_tweet.to_csv('SMM4H-2022-Task4-Validation.tsv',sep='\t')

In [10]:
# ids = []
# texts = []

# with open('SMM4H-2022-Task4-Test-Unlabeled.tsv','r') as f:
#     for item in f.readlines():
#         item = item.strip('\n')
#         item_list = item.split('\t')
#         assert len(item_list)==2
#         ids.append(item_list[0])
#         texts.append(item_list[1])
        
# test_tweet = pd.DataFrame({'tweet_id':ids[1:],
#                         'text':texts[1:]
#                        })
# test_tweet.to_csv('SMM4H-2022-Task4-Test-Unlabeled.tsv',sep='\t')

# 5 fold

In [11]:
merge_df = pd.concat([train,valid])

In [12]:
merge_df.to_csv('merge.csv', sep=',')

In [13]:
merge_df = pd.read_csv('merge.csv', sep=',')
merge_df = merge_df.drop('Unnamed: 0',axis=1)
merge_df

,tweet_id,text,label
0,1280721501034098688,@Turtainum @disitinerant @Benjaminlfranks @ter...,0
1,1343658638842490880,I had 3 men try to bully me into giving them s...,0
2,1246142231548813317,Protect the children\n\nParents should protect...,0
3,1291062414528544774,@yoongizell Oh yeah! As a survivor of domestic...,0
4,1268650245967282178,"@q_4_liberty @Project_Veritas i can see that, ...",0
...,...,...,...
5052,1266017598258532352,@MajakIsaiah @d20fitness @ChiefDavidRoddy 1/2 ...,0
5053,1355315289328672768,I cried for the first time in a while today du...,0
5054,1341489875883843586,1. Worked through past trauma that sent me off...,0
5055,1254285224978022402,@cmackenzies Iâ€™m wondering what word do you th...,0
5056,1214433143668690944,@Neerajkalia @timesofindia Yeah sure. MODI is ...,0

In [14]:
size = len(merge_df.label)
for i in range(5):
    merge_df[int(i*0.2*size):int((i+1)*0.2*size)].to_csv('validation_{}.csv'.format(i), sep=',')
    merge_df.drop(list(range(int(i*0.2*size),int((i+1)*0.2*size)))).to_csv('train_{}.csv'.format(i), sep=',')

# pseudo

In [8]:
pred = pd.read_csv('result.tsv', sep='\t')
pred

,tweet_id,text,label
0,1292581006101241856,Yesterday I heard about the amazing work @fait...,NaN
1,Support themâœ…,NaN,NaN
2,Follow themâœ…,NaN,NaN
3,Partner with themâœ…,NaN,NaN
4,"TOGETHER, we can #EndGunViolenceðŸ’ªðŸ’ªðŸ’ª",NaN,NaN
...,...,...,...
1874,#AnneMcCaffrey,NaN,NaN
1875,#GetOffTheUnicorn,0,NaN
1876,1364299024350732297,Because--haha--having people treat me like hav...,NaN
1877,"Boundaries are a part of well being, not a tra...",1,NaN
1878,1329540054214193162,Iâ€™m finna katch a domestic violence kase todayðŸ™„,0.0

In [ ]:
pseudo = pd.concat([pred,merge_df]).sample(frac=1)
pseudo

In [15]:
pseudo.to_csv('pseudo.tsv', sep='\t')
pseudo = pd.read_csv('pseudo.tsv', sep='\t')
pseudo = pseudo.drop('Unnamed: 0',axis=1)

In [16]:
size = len(pseudo.label)
for i in range(5):
    pseudo[int(i*0.2*size):int((i+1)*0.2*size)].to_csv('validation_{}.csv'.format(i), sep=',')
    pseudo.drop(list(range(int(i*0.2*size),int((i+1)*0.2*size)))).to_csv('train_{}.csv'.format(i), sep=',')