In [1]:
import pandas as pd

In [2]:
train = pd.read_csv('training_data.csv', sep=',')
valid = pd.read_csv('validation_data.csv', sep=',')
test = pd.read_csv('testing_input.csv', sep=',')
# result = pd.read_csv('result.csv', sep=',')
train

        id                                               text  label
0        1  We had a patient that was about 10 years into ...      0
1        2  I also have awful vision my right eye is -15 a...      0
2        3  22F. Apologies for yet another post, but I'm a...      1
3        4  No. If you're an adult over 25 or so, there's ...      0
4        5  I cried a lot because of fight with my mother ...      0
...    ...                                                ...    ...
8995  8996  My heart goes out to you. This is very similar...      0
8996  8997  It has been so long since my transplants, I re...      0
8997  8998  My Optomerist says these CI (Convergence Insuf...      1
8998  8999  So my L eye has diminished vision in darkness ...      1
8999  9000  I mean it usually shows at young ages around 1...      0

[9000 rows x 3 columns]

In [5]:
train.label.value_counts()

0    6079
1    2921
Name: label, dtype: int64

In [6]:
valid.label.value_counts()

0    686
1    314
Name: label, dtype: int64

In [3]:
len(train.text)+len(valid.text)

10000

In [4]:
len(test.text)

2000

In [8]:
# ids = []
# texts = []
# labels = []

# with open('SMM4H-2022-Task4-Training.tsv','r') as f:
#     for item in f.readlines():
#         item = item.strip('\n')
#         item_list = item.split('\t')
#         assert len(item_list)==3
#         ids.append(item_list[0])
#         texts.append(item_list[1])
#         labels.append(item_list[2])
        
# train_tweet = pd.DataFrame({'tweet_id':ids[1:],
#                         'text':texts[1:],
#                         'label':labels[1:]
#                        })
# train_tweet.to_csv('SMM4H-2022-Task4-Training.tsv',sep='\t')

In [9]:
# ids = []
# texts = []
# labels = []

# with open('SMM4H-2022-Task4-Validation.tsv','r') as f:
#     for item in f.readlines():
#         item = item.strip('\n')
#         item_list = item.split('\t')
#         assert len(item_list)==3
#         ids.append(item_list[0])
#         texts.append(item_list[1])
#         labels.append(item_list[2])
        
# valid_tweet = pd.DataFrame({'tweet_id':ids[1:],
#                         'text':texts[1:],
#                         'label':labels[1:]
#                        })
# valid_tweet.to_csv('SMM4H-2022-Task4-Validation.tsv',sep='\t')

In [10]:
# ids = []
# texts = []

# with open('SMM4H-2022-Task4-Test-Unlabeled.tsv','r') as f:
#     for item in f.readlines():
#         item = item.strip('\n')
#         item_list = item.split('\t')
#         assert len(item_list)==2
#         ids.append(item_list[0])
#         texts.append(item_list[1])
        
# test_tweet = pd.DataFrame({'tweet_id':ids[1:],
#                         'text':texts[1:]
#                        })
# test_tweet.to_csv('SMM4H-2022-Task4-Test-Unlabeled.tsv',sep='\t')

# 5 fold

In [6]:
merge_df = pd.concat([train,valid])

In [7]:
merge_df.to_csv('merge.csv', sep=',')

In [8]:
merge_df = pd.read_csv('merge.csv', sep=',')
merge_df = merge_df.drop('Unnamed: 0',axis=1)
merge_df

         id                                               text  label
0         1  We had a patient that was about 10 years into ...      0
1         2  I also have awful vision my right eye is -15 a...      0
2         3  22F. Apologies for yet another post, but I'm a...      1
3         4  No. If you're an adult over 25 or so, there's ...      0
4         5  I cried a lot because of fight with my mother ...      0
...     ...                                                ...    ...
9995  11996  My right eye has a 40 year old transplant in i...      0
9996  11997  I had to stop scrolling through posts when I s...      0
9997  11998  Thanks. I have no idea what my soft lenses are...      0
9998  11999  KC can progress in your 30s and even later. Pr...      0
9999  12000  I've read about this being multifactorial , th...      1

[10000 rows x 3 columns]

In [9]:
size = len(merge_df.label)
for i in range(5):
    merge_df[int(i*0.2*size):int((i+1)*0.2*size)].to_csv('validation_{}.csv'.format(i), sep=',')
    merge_df.drop(list(range(int(i*0.2*size),int((i+1)*0.2*size)))).to_csv('train_{}.csv'.format(i), sep=',')

# pseudo

In [14]:
pred = pd.read_csv('result.tsv', sep='\t')
pseudo = pd.concat([pred,merge_df]).sample(frac=1)
pseudo

,tweet_id,text,label
0,973723450400374784,My 23rd birthday is this upcoming Monday ðŸ˜‹ðŸ˜‹,1
1,857298522282086400,Based on the life plan I made for myself at 16...,0
2,803428784049426433,me when I realize Justin turns 23 in 93 days h...,0
3,1009424624050991104,Lmao a 33 yo man with a spot of goatee has tur...,0
4,815857468442025984,How are you meant to know what you wanna do fo...,1
...,...,...,...
10995,1028649935648907264,Please help me realize this dream! I need to g...,0
10996,993551429175595008,"@8richard6 @KeepTexasRed7 Sad to say, this is ...",0
10997,984557822179446784,@anotherseminole Damn true I had them for the ...,1
10998,866406748923600896,"My birthday , 22 May ðŸ’œðŸŽˆ",0
10999,1043357669271134211,"@ActorMadhavan Hello sir, I'm Digvijay and tod...",0

In [15]:
pseudo.to_csv('pseudo.tsv', sep='\t')
pseudo = pd.read_csv('pseudo.tsv', sep='\t')
pseudo = pseudo.drop('Unnamed: 0',axis=1)

In [16]:
size = len(pseudo.label)
for i in range(5):
    pseudo[int(i*0.2*size):int((i+1)*0.2*size)].to_csv('validation_{}.tsv'.format(i), sep='\t')
    pseudo.drop(list(range(int(i*0.2*size),int((i+1)*0.2*size)))).to_csv('train_{}.tsv'.format(i), sep='\t')